* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    
}

body {
    font-family: 'montserrat';
    Arial,
    Helvetica,
    sans-serif;
}
header{
    width: 100%;
}
.logo{
    display: block;
    padding: 40px;
    width: 300px;
    margin: auto;
}
nav {
    background-color: #f3e0dd;
    width: 100%;
    font-size: 1rem;
    margin-bottom: 50px;
}
nav ul li a{
    color:#fff;
    text-align: none;
    padding: 1rem;
    display: block;
    text-align: center;
}
nav ul li{
    border-top: 1px solid rgba(1, 1, 1,0.2);
}
nav ul li:hover{
    background-color: rgba(1, 1, 1,0.2);
}
h1{
    text-align: center;
}
.red {
    max-width: 70%;
    margin: auto;
    
}

.gallery-img {
    width: 100%;
    margin: auto;
    padding: 10px;
    
}

.red img {
    display: block;
    width: 85%;
    margin: auto;
    min-width: 80%;
}
.cv{
    width: 89%;
    max-width: 85%;
    margin: auto;
    padding-top: 40px;
}

.paragraph{
    width: 60%;
    margin: 0 auto;
    padding-top: 40px;
    
}
footer{
    text-align: left;
    bottom: 0;
    width: 100%;
    margin-top: 50px;
    color: #fff;
    padding: 20px;
    background-color: #f3e0dd;
    padding-left: 50px;
}


@media (min-width: 680px){
.wrapper {
    max-width: 80%;
    padding: 2rem;
    margin: 0 auto;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: .5rem;
}

.gallery-img {
    width: 100%;
    height: 100%;
    
}

@media (min-width: 1080px){
    .wrapper {
        max-width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: .5rem;
    }
    
    .gallery-img {
        width: 100%;
        height: 100%;
        
    }
    .wrapabout {
        max-width: 70%;
        padding: 40px;
        margin: 0 auto;
        border: 1px solid #f3e0dd;
        border-radius: 2%;
    }
    .content {
     
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
    }
    .red {
        min-width: 80%;
    }