* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;

}

body {
    font-family: 'montserrat', Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
}

.logo {
    display: block;
    padding: 40px;
    width: 300px;
    margin: auto;
}

p {
    line-height: 1.8;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    text-decoration: none;
}
a {
    color: #fff;
}

/* NAVIGATION */
nav {
    background-color: #f3e0dd;
    width: 100%;
    font-size: 1rem;
    margin-bottom: 50px;

}

nav ul li a {
    color: #fff;
    padding: 1rem;
    display: block;
    text-align: center;
    text-transform: uppercase;
}

nav ul li {
    border-top: 0.5px solid rgba(1, 1, 1, 0.1);
}

nav ul li:hover {
    background-color: rgba(1, 1, 1, 0.1);
}


h2 {
    text-align: center;
    color: #808080;
}

.red {
    max-width: 90%;
    margin: auto;
}

/* CONTENT */

.gallery-img {
    width: 100%;
    margin: auto;
    padding: 10px;

}

.red img {
    display: block;
    width: 700px;
    margin: auto;


}

.cv {
    max-width: 85%;
    margin: auto;

}

.paragraph {
    width: 80%;
    margin: 0 auto;
    padding-top: 40px;

}

/* ADDING FOOTER */

.footer {
    padding: 40px 0;
    background-color: #f3e0dd;
    margin-top: 50px;
}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: #fff;
}

.footer .social a {
    font-size: 24px;
    color: inherit;
    border: 1px solid #fff;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 1px;
    opacity: 0.75;
}

.footer .social a:hover {
    background-color: rgba(1, 1, 1, 0.1)
}

.footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a {
    text-decoration: none;
    opacity: 0.8;
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;

}

.footer ul li a:hover {
    background-color: rgba(1, 1, 1, 0.1)
}

.footer .copyright {
    margin-top: 25px;
    text-align: center;
    font-size: 13px;
    color: #fff
}


/* CONTACT FORM  */
.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 100px;
}

.container:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(images/to-1440.jpg) no-repeat center;
    background-size: cover;
    z-index: -1;
    filter: blur(50px);

}

.contact-box {
    max-width: 850px;
    display: grid;
    border-radius: 4px;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

.left {
    height: 100%;
    background: url(images/vale-960.jpg) no-repeat center;
    background-size: cover;
    border-radius: 4px;
}

.right {
    padding: 25px 40px;
}

h2 {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
    align-items: center;
}

h2:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #f3e0dd;
}

.field {
    width: 100%;
    padding: 0.5rem 1rem;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    background-color: rgba(230, 230, 230, 0.6);
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
}

.field:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.field:focus {
    background-color: #fff;
    border: 2px solid rgba(243, 224, 221, 1);
}

.area {
    min-height: 150px;
}

.btn {
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background-color: #f3e0dd;
    cursor: pointer;
    outline: none;
    border: none;
    color: #fff;
    transition: .4s;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

@media (min-width: 680px) {

    .wrapper {
        max-width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: .5rem;
    }

    .gallery-img {
        width: 100%;
        height: 100%;
    }
}


    @media (min-width: 1080px) {
        nav {
            width: 100%;
            height: 94px;
            list-style: none;
            text-align: center;
            margin: 0;
            padding: 0;
            margin-bottom: 50px;
        }

        nav ul li {
            display: inline-block;
            padding: 20px;
            border: none;
            font-size: 1.2rem;

        }

        .wrapper {
            max-width: 80%;
            padding: 2rem;
            margin: 0 auto;
        }

        .gallery {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: .5rem;
        }

        .gallery-img {
            width: 100%;
            height: 100%;

        }

        .wrapabout {
            max-width: 70%;
            padding: 40px;
            margin: 0 auto;
            border: 1px solid #f3e0dd;
            border-radius: 2%;
        }
        .content1 {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
        }
        .paragraph {
            width: 60%;
        }
        .contact-box {
            grid-template-columns: repeat(2, 1fr)
        }
        }