/* MOBILE VERSION */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
}

header {
    padding-bottom: 40px;
}

.container {
    width: 100%;
    margin: auto;
}
/* STYLING NAV */
nav {
    background-color: #faab67;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    width: 100%;
    ;

}

ul {
    padding: 0px 0px;
}

nav ul li {
    list-style-type: none;
    border-bottom: 1px solid white;
    line-height: 300%;
}

nav ul li:hover {
    background-color: rgba(1, 1, 1, 0.1);



}

nav ul li a {
    color: white;
    text-decoration: none;



}
/* STYLING HEADER */
.container img {
    max-width: 100%;
    margin: auto;
    display: flex;

}

h2 {
    text-align: center;
    color: #ef3a46;
    margin-top: 20px;

}

main {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

main img {
    max-width: 80%;
    padding: 20px;
    margin: 0 auto;
}

.paragraph {
    font-size: 1.5rem;
    text-align: center;
    padding: 20px 20px 20px 20px;
    margin: 0 auto;
    color: #ef3a46;
    width: 50%;

}
/* STYLING FOOTER AND ADDING SPACE BETWEEN THE ITEMS */
footer {
    background-color: #faab67;
    padding: 10px 40px;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;

}

.foot {
    color: white;
}
/* ADDING MARGIN AND SPACE TO THE ICONS */
.social {
    margin-top: 1rem;
    display: block;
    justify-content: space-between;
    padding-left: 20px;
}

.face {
    padding-left: 30px;
    
}

/* STYLING CONTACT FORM */

.send_now {
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 4px 6px 6px 4px lightgrey;
}

/* ADDING FORM BACKGROUND COLOR AND MARGINS */

.send_now input {
    box-sizing: border-box;
    width: 100%;
    border-radius: 8px;
    border: none;
    background-color: #f7f7ff;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.button input {
    box-sizing: border-box;
    width: 100%;
    background-color: #faab67;
    color: black;
    font-weight: bold;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}

textarea {
    box-sizing: border-box;
    width: 100%;
    border-radius: 8px;
    border: none;
    background-color: #f7f7ff;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.button input {
    color: white;
}

div .send_now {
    align-items: center;
    margin: 0 auto;

}
/* TABLET VERSION */

@media (min-width: 640px) {
    h2 {
        padding: 4%;
    }

    footer {
        background-color: #faab67;
    }

    .container img {
        width: 640px;

    }

    .nav ul {
        text-decoration: none;
        margin-top: 0px;
    }

    nav ul li {
        display: block;
        border-bottom: 1px solid white;
        width: 100%;
        
    }

    main img {
        /* justify-content: space-between; */
        width: 33%;
    }

    
}

/* DESKTOP VERSION */

@media screen and (min-width: 1080px) {

    nav ul li {
        display: inline-block;
        width: 30%;
        border-right: 1px solid white;
        /* position: fixed; */
        
    }
    main p strong {

        width: 100%;
    }

    header {
        background-image: url(/images/melt1.png), url(/images/melt2.png);
        background-size: 12%;
        background-repeat: no-repeat;
        background-position: right top, left bottom;
    }
    


    }

    